[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responder = "*"
black = "*"
arxiv = "*"
starlette = "*"
uvicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.6.6"

[pipenv]
allow_prereleases = true
